.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  min-height: 50px !important;
  padding-top: 10px !important;
}

.select2-container .select2-selection--single {
  min-height: 50px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  min-height: 50px !important;
  padding-right: 5px !important;
}
